.container{
	margin: 0 auto;
	width: 75%;
	background-color:#eee;
	min-height: 80vh;
	text-align: center;
	padding: 100px;
}
.container ol{
	list-style: none;
}
.container li{
	margin-top: 20px;
	margin-bottom: 20px;
}
img{
	
	width:30%;
	height: 300px;
}